:root{

--rosa-principal:#E9B7B7;
--rosa-suave:#F8E5E5;

--cafe-principal:#C8A98D;
--cafe-medio:#D9C0AA;
--cafe-suave:#F2E7DC;

--crema:#FFF9F5;

--texto:#5D4B43;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
min-height:100vh;
background:linear-gradient(
135deg,
#F8E5E5,
#FFF9F5,
#F2E7DC
);
display:flex;
justify-content:center;
align-items:center;
padding:30px;
}

.contenedor{
width:1100px;
max-width:100%;
background:white;
border-radius:30px;
overflow:hidden;
display:grid;
grid-template-columns:1fr 1fr;
box-shadow:0 20px 40px #C8A98D;
}

.lado-imagen{
background:#F2E7DC;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:50px;
text-align:center;
}

.lado-imagen h1{
font-family:'Fredoka',sans-serif;
font-size:50px;
color:#B88B8B;
margin-bottom:20px;
}

.lado-imagen p{
font-size:18px;
line-height:1.8;
margin-bottom:30px;
}

.lado-imagen img{
width:300px;
max-width:100%;
}

.lado-formulario{
display:flex;
justify-content:center;
align-items:center;
padding:50px;
}

.formulario{
width:100%;
max-width:450px;
}

.formulario h2{
font-size:35px;
margin-bottom:30px;
color:var(--texto);
}

.input-group{
margin-bottom:20px;
}

.input-group label{
display:block;
margin-bottom:8px;
font-weight:600;
}

.input-group input{
width:100%;
padding:15px;
border:2px solid #eee;
border-radius:12px;
font-size:16px;
}

.password-container{
display:flex;
gap:10px;
}

.password-container input{
flex:1;
}

.password-container button{
width:55px;
border:none;
background:var(--rosa-principal);
border-radius:12px;
cursor:pointer;
}

.extras{
display:flex;
justify-content:space-between;
margin-bottom:25px;
font-size:14px;
}

.extras a,
.registro a{
color:#B88B8B;
font-weight:600;
text-decoration:none;
}

.btn-login{
width:100%;
padding:15px;
border:none;
border-radius:15px;
background:var(--cafe-principal);
color:white;
font-size:17px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.btn-login:hover{
transform:translateY(-3px);
}

.registro{
text-align:center;
margin-top:20px;
}

.terminos{
display:block;
margin-bottom:20px;
}

@media(max-width:900px){

.contenedor{
grid-template-columns:1fr;
}

.lado-imagen{
display:none;
}

}